
@media screen and (max-width: 414px) {

    /* All pages */

    .display-1 {
        font-size: 2rem;
    } 

    .navbar {
        font-size: 3.5rem;
    }

    .navbar a i {
        font-size: 2rem;
    }

    .navbar a i:first-child {
        margin-right: 1%;
        transform: translateX(-20px);
    }
    
    .navbar a i:last-child {
        margin-left: 1%;
        transform: translateX(20px);
    }

    .navbar a:hover i {
        transform: translateX(0px);
        opacity: 1;
    }

    .page-header .page-header-nav {
        height: 40vh;
    }

    .page-header .page-header-nav .row .col-12 {
        justify-content: center;
    }

    .page-header .page-header-nav .row .col-12 h1 img {
        width: 30px;
        height: 30px;
    }

    /* Home */

    .spiritual-meditation .row .col-12 p:not(.sm-p-cover), .who-we-are .row .col-12 p {
        margin-left: 0px;
        transform: none;
        padding-top: 0px;
        background: none;
    }

    .worship-moment .col-12 p, .our-mission .col-12 p, .personal-intervention .col-12 p {
        padding: 10px;
    }

    .worship-moment .col-12 h1,
    .personal-intervention .col-12 h1,
    .who-we-are .row .col-12 h1,
    .our-mission .row .col-12 h1 {
        margin-top: 30px;
    }

    /* daily song */

    .today-media .row .alert-noavailable .alert {
        font-size: 100%;
    }

    .today-media .row .today-song .today-song-title {
        font-size: 1.2rem;
    }

    .today-media .row .today-song .today-song-title {
        margin-top: 20px;
    }

    .today-media .row .today-song .today-song-date {
        margin-bottom: 20px;
    }

    /* about */

    .who-we-are .row .col-12 {
        flex-direction: column;
    }

    /* contact */

    .contact-online .row .contact-online-social,
    .contact-online .row .contact-online-web {
        align-items: center;
        padding-left: 0;
        padding-right: 0;
        border: 0;
    }

    .contact-online .row .contact-online-web {
        margin-top: 10px;
    }

    .contact-online .row .contact-online-social a, 
    .contact-online .row .contact-online-web a,
    .contact-online .row .contact-online-web p {
        font-size: 1rem;
    }

    .contact-online .row .contact-online-social a,
    .contact-online .row .contact-online-web a {
        transform-origin: center;
    }

    .contact-online .row .contact-online-social a:not(:last-child),
    .contact-online .row .contact-online-web a:not(:last-child) {
        margin-bottom: 10px;
    }
 
    /* Footer */

    .page-footer .social-media a {
        font-size: 1.5rem;
    }

}

@media screen and (max-width: 960px) {
    
    .spiritual-meditation, .worship-moment, .personal-intervention,
    .who-we-are, .our-mission, .contact-online {
        height: auto !important;
    }

}

@media screen and (max-width: 767px) {
    
    .today-media {
        height: auto !important;
    }

}
